# FilePath: "/DEV/bot_agent/requirements-bot.txt"
# Project: Unified Bot Protocol (UBP)
# Component: Bot Agent
# Description: Dependencies for a Python-based UBP Agent.

websockets
fastapi
uvicorn[standard]
pydantic
pydantic-settings
prometheus-client
aiohttp
